@import 'reset-css';
@import "bootstrap/scss/bootstrap";

form li{
  margin-top: 16px;
}
form ul{
  margin-right: 20px;
}
p{
  padding: 12px;
  margin: 0;
}
.btn{
  margin-left: 2rem;
}

.tips{
  font-size: 14px;
  color: gray;
  ol{
    margin-left: 14px;
    padding-left: 10px;
    border-left: 1px solid darkgray;
  }
  li{
    display: flex;
    gap: 10px;
    align-items: flex-start;
  }
  .dot{
    border: 3px solid #1890ff;
    border-radius: 50%;
    margin-top: 0.5em;
  }
}

#mask{
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  >div{
    width:100%;
  }
}

.desc{
  padding-bottom: 0;
}